name: Dependency audits
permissions:
  contents: read

on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * 1' # weekly

jobs:
  audit:
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm audit --audit-level=high
