name: Validate Pull request JSON

on:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  json:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Validate JSON files
        run: |
          npx jsonlint src/extensions.json
          find src -name "manifest.json" -exec npx jsonlint {} \;
